* {
  background-color: papayawhip;
}

h2 {
  font-size: 4rem;
  text-align: center;
  padding: 0;
}
#quote {
  margin: -45px;
  font-size: 1.2rem;
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #000000;
  color: #fff;
  padding: 0.6rem 2rem;
  text-decoration: none;
  transition: 0.3s all;
  font-family: Helvetica;
  border: 1px solid;
}

.button:hover {
  background-color: transparent;
  color: #000000;
}

.button_two {
  display: inline-block;
  background-color: tomato;
  color: #fff;
  padding: 0.6rem 2rem;
  text-decoration: none;
  transition: 0.3s all;
  font-family: Helvetica;
  border: 1px solid;
}

.button_two:hover {
  background-color: transparent;
  color: #000000;
}

/* .box-container {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.child_box {
  display: flex;
} */

.box-color li {
  background-color: lightcoral;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
